:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--pink);
}
.navbar .ant-menu-item a.active{
  color: var(--pink);
}

.app {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  overflow: hidden;
}

.navbar {
  background-color: rgb(0, 21, 41);
}

.main {
  width: 100%;
}

.routes {
  padding: 20px;
}

.nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  min-width: 300px;
  margin: 0;
  background-color: rgb(0, 21, 41);
}

.logo-container {
  background-color: #001529;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo-container .logo {
  margin-left: 15px;
  margin-bottom: 0;
}
.logo-container .logo a {
  color: rgba(255, 255, 255, 0.65);
}

.menu-control-container {
  display: none;
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 1.2rem;
  background-color: var(--bgSecondary);
  border: none;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1170px) {
  .news-image-container {
    flex-direction: column;
    align-items: initial !important;
  }
  .news-image-container .news-title {
    order: 1;
    padding-right: 0;
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
  }
  .news-card .ant-card-body {
    padding: 15px;
  }
  .news-image-container img {
    height: 180px;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .menu-control-container {
    display: block;
  }

  .home-title {
    font-size: 1.4rem;
  }

  .show-more {
    font-size: 1.3rem;
  }

  .news-image-container img {
    height: 200px;
    object-fit: cover;
  }
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700;
  margin-top: 20px;
  color: var(--pink);
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.select-news {
  width: 180px;
}
.news-card {
  min-height: 300px;
  height: 100%;
}
.news-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.news-title {
  padding: 0 10px 0 0;
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.news-card p {
  color: black;
  margin: 10px 0px;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-meta {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: #0071bd;
}
.price-container {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.price-change {
  font-weight: 900;
}
.current-price {
  margin-top: 0 !important;
  font-weight: 900;
}
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more {
  margin-top: 0px;
}
.exchange-image {
  margin: 0px 10px;
}
.search-crypto {
  margin: 20px 0 30px;
}
.crypto-card .crypto-image {
  width: 35px;
}
.select-timeperiod {
  width: 200px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.footer a {
  color: var(--bgSecondary);
}

@media (min-width: 640px) {
  .search-crypto {
    width: 30%;
  }
}
